* {
  margin: 0x;
  padding: 0px;
}

body {
  background-color: white;
}
img {
  height: auto;
  width: auto;
  margin: (100px, 100px, 500px, 100px);
}

h1 {
  color: green;
  text-align: center;
}

.botonera {
  display: flex;
  flex-direction: row;
}

.nuevo-li {
  color: green;
}

button {
  height: 50px;
  width: 150px;
  display: flex;
  margin: 50px;
  border-radius: 20px;
}

a {
  display: flex;
  text-align: center;
}
